# fm configuration file.
# Each variable is explained below

# use nerdfont icons for file ? Default false
# [nerdfont](https://www.nerdfonts.com/) must be installed
icon: false
# display icons when metadata are shown ?  Default false
# no effect if icon is false
icon_with_metadata: false

# which syntect theme do you want to use ?
# place them in ~/.config/fm/syntect_themes/
# create the folder if it doesn't exists.
# textmate themes can be use directly "glow.tmtheme" or compressed by syntect as a dump file "monokai.themedump".
# if you want to use "glow.tmtheme", use `syntect_theme: glow`
# if you want to use "dracula.themedump", use `syntect_theme: dracula`
# you can comment or erase this value and the default theme (monokai) will be loaded.
# you can find more themes here : https://github.com/filmgirl/textmate-themes
syntect_theme: monokai

# Prefered imager.
# Ueberzug : display images using Ueberzug (requires Ueberzug to be installed)
# Inline : display images using iTerm2 images protocol (requires a compatible terminal emulator like Wezzterm)
# Disabled (or anything else) : disable image previewing.
imager: Ueberzug

# Which color theme do you want to use ?
# Themes are located in ./themes/
# To select a theme, like `dracula.yaml` use `theme: dracula` without the extension.
theme: ansi

# colors. After version 0.2.3, colors were moved to the theme.
# If you want to keep your colors, just copy-paste the `color:` value and deindent everything.

# keybindings
#
# You can bind any key to any action.
# List of valid actions is accessible from `help` (default key H) and from the readme.md file.
# Invalid actions are skipped.
keys:
  "esc": ResetMode
  "up": MoveUp
  "down": MoveDown
  "left": MoveLeft
  "right": MoveRight
  "bspace": Backspace
  "home": KeyHome
  "end": End
  "page-down": PageDown
  "page-up": PageUp
  "enter": Enter
  "tab": Tab
  "shift-tab": BackTab
  "'": MarksJump
  " ": ToggleFlag
  "*": FlagAll
  "-": Back
  "/": Search
  "~": Home
  "a": ToggleHidden
  "c": CopyPaste
  "d": NewDir
  "e": Exec
  "g": KeyHome
  "h": MoveLeft
  "i": NvimFilepicker
  "j": MoveDown
  "k": MoveUp
  "l": MoveRight
  "n": NewFile
  "o": OpenFile
  "p": CutPaste
  "q": Quit
  "r": Rename
  "s": Shell
  "t": Tree
  "u": ClearFlags
  "v": ReverseFlags
  "x": Delete
  "w": RegexMatch
  "alt-b": Bulk
  "alt-d": ToggleDualPane
  "alt-e": EncryptedDrive
  "alt-f": Filter
  "alt-g": Cd
  "alt-m": Chmod
  "alt-p": TogglePreviewSecond
  "ctrl-c": CopyFilename
  "ctrl-f": FuzzyFind
  "ctrl-h": Help
  "ctrl-g": Shortcut
  "ctrl-p": CopyFilepath
  "ctrl-q": ResetMode
  "ctrl-r": RefreshView
  "shift-e": ToggleDisplayFull
  "shift-g": End
  "shift-L": Symlink
  "shift-m": MarksNew
  "shift-o": Sort
  "shift-p": Preview
  "f1": FuzzyFindHelp
  "f2": Rename
  "f3": Preview
  "f4": OpenFile
  "f5": CopyPaste
  "f6": CutPaste
  "f7": NewDir
  "f8": Delete
  "f9": NewFile
  "f10": Quit

# Custom command :
# * Use a free keybind
# * Don't use pipe or redirection, it won't be parsed correctly
# * Use full path for the command : `/usr/bin/ls` not `ls`
# * You can use expansions :
#     Expansions :
#     - %s: the full path of the currently selected file or folder,
#     - %f: the list of the full paths of the flagged files.
#     - %e: the extension of the file.
#     - %n: the filename only.
#     - %d: the full path of the current directory.
# Example:
# 'alt-u': "/usr/bin/ls %f" # will run `ls /path/to/the/selected/file`... be won't print anything.
custom:
  # open the selected file with chrome
  "shift-u": "/usr/bin/google-chrome-stable %s"
  # drag & drop the selected file to a GUI application
  "shift-d": "/usr/bin/dragon-drop %s"

# Plugins
# Plugins are external libs, written in rust.
# ATM only previewers plugins are supported.
plugins:
  # previewer plugins able the preview some extensions.
  # give them a name (what ever you want) and the path to "libplugin_something.so".
  # Under normal circonstances, the file should be in `crate_your_plugin/target/release/libcrate_your_plugin.so`
  # If you only have sources and nothing in target, try `cargo build --release` from the crate directory.
  previewer:
    "bat previewer": "path/to/the/lib/libbat_previewer.so"
